body {
    margin: 0;
    background: #E4573D; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scene {
    position: relative;
    width: 100vh;
    height: 100vh;
  }
  
  /* COMPUTER (center) */
  .computer {
    position: absolute;
    width: 40vh;
    height: 45vh;
    background: #d8d4c8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vh;
  }

  /* COMPUTER SCREEN */
  .screen {
    position: absolute;
    width: 30vh;
    height: 25vh;
    background: #0c0c0c;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 5vh;
  }

  /* computer disk slot */
  .disk-slot {
    position: absolute;
    width: 15vh;
    height: 2vh;
    background: #0c0c0c;
    right: 25%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    border-radius: 5vh;
  }

  /* Keyboard */
  .keyboard {
    position: absolute;
    width: 60vh;
    height: 15vh;
    background: #d8d4c8;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    border-radius: 1vh;
  }

  /* Keyboard */
  .keys {
    position: absolute;
    width: 45vh;
    height: 10vh;
    background: #9d998f;
    left: 52%;
    bottom: 13%;
    transform: translate(-50%, -50%);
    border-radius: 1vh;
  }
  
  /* SPHERE (left) */
  .sphere {
    position: absolute;
    width: 30vh;
    height: 30vh;
    background: linear-gradient(to top right, #7f7e7e, #f3f2f2);
    border-radius: 50%;
    left: 1%;
    bottom: 5%;
    z-index: 2;
  }

  /* Sphere reflection */
  .reflection {
    position: absolute;
    width: 7vh;
    height: 7vh;
    background: rgb(235, 233, 233);
    left: 17%;
    bottom: 22%;
    z-index: 2;
  }
  
  /* Top orange */
  .top-orange {
    top: 15%;
    right: 30%;
    transform: translateX(-50%);
    position: absolute;
    width: 15vh;
    height: 15vh;
    background: radial-gradient(circle at 30% 30%, #ffb347, #ff7a00);
    border-radius: 50%;
  }

  /* Top leaf */
  .leaf-top {
    position: absolute;
    width: 8vh;
    height: 8vh;
    top: 13%;
    right: 45%;
    background: #2e8b57;
    border-radius: 100% 0 100% 0;
    transform: rotate(40deg);
    z-index: 6;
  }
  
  /* Bottom orange */
  .bottom-orange {
    bottom: 5%;
    left: 25%;
    z-index: 3;
    position: absolute;
    width: 15vh;
    height: 15vh;
    background: radial-gradient(circle at 30% 30%, #ffb347, #ff7a00);
    border-radius: 50%;
  }
  
  /* Bottom leaf */
  .leaf-bottom {
    position: absolute;
    width: 8vh;
    height: 8vh;
    bottom: 14%;
    left: 25%;
    background: #2e8b57;
    border-radius: 100% 0 100% 0;
    transform: rotate(40deg);
    z-index: 6;
  }

  /* BOTTLE (right) */
  .bottle {
    position: absolute;
    width: 20vh;
    height: 30vh;
    background: rgba(255,255,255,0.4);
    border-radius: 2vh;
    right: 5%;
    bottom: 5%;
    border: 1vh solid rgba(255,255,255,0.5);
    z-index: 3;
  }

  /* Bottle neck */
  .bottle-neck {
    position: absolute;
    width: 10vh;
    height: 10vh;
    background: rgba(255,255,255,0.4);
    border-radius: 2vh;
    right: 10%;
    bottom: 35%;
    border: 1vh solid rgba(255,255,255,0.5);
    z-index: 3;
  }

  /* bottle cork */
  .cork {
    position: absolute;
    width: 8vh;
    height: 8vh;
    background: rgb(62, 38, 18);
    border-radius: 2vh;
    right: 12%;
    bottom: 42%;
    z-index: 2;
  }